
@media (prefers-color-scheme: light) {
	:root {
		--fill-color: black;
		--background: white;
	}
}

@media (prefers-color-scheme: dark) {
	:root{
		--fill-color: white;
		--background: black;
	}
}

.fredoka {
	font-family: "Fredoka", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "width" 100;
}

body{
	margin: 0;
	padding: 0;
	background-color: var(--background);
	color: var(--fill-color);
	font-family: "Fredoka", sans-serif;

}

main {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100dvh;
}

p {
	margin: 0;
	font-size: 1.2em;
}

.challenge-loading {
	display: none;
}

.wrong-domain {
	display: none;
}

.semi-bold {
	font-weight: 500;
}

.logo {
	fill: var(--fill-color);
	stroke: transparent;
	transform-origin: 50% 50%;
	transform-box: fill-box;
	rotate: 45deg;
	width: 10em;
	height: 10em;
}

@keyframes pulse_opacity {
	0% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}

	50% {
		opacity: 0.6;
		transform: scale3d(0.9, 0.9, 0.9);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes animate-svg-fill {
	0% {
		fill: transparent;
	}

	100% {
		fill: var(--fill-color);
	}
}

.svg-container {
	animation: pulse_opacity 3s infinite;
	animation-delay: 3s;
}

.svg-elem {
	animation: animate-svg-fill 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) var(--delay, 0s) both;
}
